<div>
  <body>
    <top-bar *ngIf="_api.isShowMenu"></top-bar>
    <div #mainloadingpage [ngClass]="_api.loaddingclass" class="spinner">
      <div class="mdl-spinner mdl-js-spinner"></div>
      <mat-spinner>xxxx</mat-spinner>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </body>
  <footer>
    <div style="background-color: #006599;color: white;">
      <label style="margin-left: 1%;">
      © {{thisYear}} Dun & Bradstreet (HK) Limited (Version {{versionNo}})
      </label>
    </div>
  </footer>
</div>

