@import "../utils/table-custom.css";

.page-content{
    margin: 30px;
}
.header{
    color: #005173;
    font-weight: 600;
}
.page-body{
    display: flex;
    margin: 0px 40px;
    height: 80vh;
}
::ng-deep .mat-tab-group{
    width: 100%;

}
::ng-deep .mat-tab-label{
    font-size: 16px !important;
    font-weight: 500;
    color: #006599 !important;
}
.bd-criteria{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ct-criteria{
    display: flex;
    align-items: center;
    margin: 40px 15px 10px 15px;
}
.ct-criteria p{
    font-weight: 600;
    font-size: 16px;
}
.btn-criteria{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-export{
   background-color: #006599; 
   color: #ffffff;
   font-weight: 500;
   margin: 10px;
   font-size: 16px;
}
.bd-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}
.select-option{
    width: 100%;
    display: flex;
    margin: 10px;
}
.h-option{
    width: 30%;
    text-align-last: right;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
}
.sl-option{
    width: 70%;
}
.select{
    width: 100%;
    height: 35px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    font-size: 16px;
}
.select:focus-visible{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    outline: 1px rgba(138, 166, 200, 0.749);  
}
.multi{
    height: 180px !important;
}
.h-option-multi{
    width: 30%;
    text-align-last: right;
    font-weight: 600;
    font-size: 16px;
    align-self: start;
    padding-top: 5px;
}
.mat-tab-body { overflow: hidden!important}