<div style="text-align: center;">
	<h2 mat-dialog-title>{{pageInfo.message.title}}</h2>

	<div style="margin: 0px 10px;" mat-dialog-content *ngIf="pageInfo.message.body != ''">
	  <p style="color: #616161;">{{pageInfo.message.body}}</p>
	</div>


	<br>


	<div style="text-align: center;" *ngIf="pageInfo.BtnMode == ButtonMode.ONE_BTN">
		<button mat-raised-button (click)="onClickWithResult()">
			OK
		</button> 
	</div>
	
	<div style="text-align: center;" *ngIf="pageInfo.BtnMode == ButtonMode.YES_NO_BTN">
		<button mat-raised-button color="primary" (click)="onSaveClick()"  style="margin-right: 50px">
			{{pageInfo.showInfo.confirm_wording}}
		</button>
		<button mat-raised-button class="darkerGray" (click)="onNoClick()">
			Cancel
		</button> 
	</div>

</div>
