<div >
  <mat-card class="bd">
    <div class="d-flex">
      <div class="h-card-list">API User: </div>
      <div>
        <button mat-raised-button class="count" (click)="newUserInfo()">+</button>
        <button mat-raised-button class="count" (click)="delete_user()">-</button>
      </div>
    </div>
    <br>
    <div class="h-60" style=" overflow-y: scroll;">
       <mat-list role="list"  *ngFor="let dataItem of data">
        <mat-list-item role="listitem" class="item-list">
          <a (click)="click_user(dataItem)" class="btn-item">{{dataItem.aiCode}}: {{dataItem.userID}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-card>
</div>